<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs407.bookexchange">

    <!-- To auto-complete the email text field in the activity_login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/bookexchangelogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <activity
            android:name=".UserUI.StartActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            />
        </activity>
        <activity android:name=".UserUI.LoginActivity" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".UserUI.RegisterActivity" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".UserUI.SellerManagerActivity" android:theme="@style/Theme.AppCompat" />
        <activity android:name=".UserUI.PendingRequestsActivity" />
        <activity android:name=".UserUI.SearchActivity" />
        <activity android:name=".UserUI.NewListingActivity" android:windowSoftInputMode="adjustPan" ></activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>